{% extends "base.html" %}

{% block title %}
My Courses
{% endblock %}

{% block body %}
<h1 class="my-5">My Courses</h1>
{% for course in courses %}
<div class="row my-2 w-75">
    <div class="col-2">
        {{ course["semester"] }}
    </div>
    <div class="col-2">
        {{ course["course_subject"] }} {{ course["course_num"] }}
    </div>
    <div class="col">
        {{ course["title"] }}
    </div>
    <div class="col">
        {% if course["review_id"] > -1 %}
        <a href="/edit?review={{ course['review_id'] }}&profName={{ course['prof_name'] }}&course={{ course['course_subject'] }} {{ course['course_num'] }} {{ course['title'] }}"
            class="mybtn btn btn-primary d-block w-50 mx-auto" role="button">Edit Review</a>
        {% else %}
        <a href="/write?scid={{ course['student_course_id'] }}&profName={{ course['prof_name'] }}&course={{ course['course_subject'] }} {{ course['course_num'] }} {{ course['title'] }}"
            class="danger btn btn-primary d-block w-50 mx-auto" role="button">Write Review</a>
        {% endif %}
        </a>
    </div>

</div>
{% endfor %}
{% endblock %}