{% extends "base.html" %}

{% block title %}
{{ course }}
{% endblock %}

{% block link %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto">
        <h1>{{ professor }}</h1>
        <h1>{{ course }}</h1>
    </div>
    <div class="col">
        <div class="dropdown floatr">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ semester }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/course?courseId={{ courseId }}&semester=All Semesters">All Semesters</a>
                <a class="dropdown-item" href="/course?courseId={{ courseId }}&semester=Fall2020">Fall2020</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <h3>Rating Stats</h3>
    <div class="d-inline-block stats">Participation Rate:</div>
    <div class="d-inline-block stats">Median:</div>
    <div class="d-inline-block stats">Mean:</div>
    <canvas id="ratingChart" height="300"></canvas>

</div>

<div class="row my-5">
    <div class="col">
        <h3>Strengths</h3>
        <div class="mt-4 px-5 mx-5">
            <canvas id="strengthsChart" height="100"></canvas>
        </div>
    </div>
    <div class="col">
        <h3>Weaknesses</h3>
        <div class="mt-4 px-5 mx-5">
            <canvas id="weaknessesChart" height="100"></canvas>
        </div>
    </div>
</div>

<div class="row bg-dark text-white mt-5">
    <div class="col-1">
        Review#
    </div>
    <div class="col-1">
        Semester
    </div>
    <div class="col">
        Comment
    </div>
    <div class="col-2">
        Rating
    </div>
    <div class="col-2">
        Helpful
    </div>
</div>
{% for review in reviews %}
<div class="row my-3">
    <div class="col-1">
        {{ review["id"] }}
    </div>
    <div class="col-1">
        Fall2020
    </div>
    <div class="col">
        {{ review["comment"] }}
    </div>
    <div class="col-2">
        {{ review["rating"] }}
    </div>
    <div class="col-2">
        {% if like %}
        <a href="/course?courseId={{ courseId }}&semester={{ semester }}&like=False"> <i
                class="fas fa-thumbs-up"></i></a>
        {% else %}
        <a href="/course?courseId={{ courseId }}&semester={{ semester }}&like=True"> <i class="far fa-thumbs-up"></i>
        </a>
        {% endif %}

        {{ review["helpful"] }}
    </div>
</div>
{% endfor %}
{% endblock %}


{% block script %}
<script>
    const ratingChart = document.getElementById('ratingChart').getContext('2d');
    const myRatingChart = new Chart(ratingChart, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const strengthsChart = document.getElementById('strengthsChart').getContext('2d');
    const myStrengthsChart = new Chart(strengthsChart, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });

    const weaknessesChart = document.getElementById('weaknessesChart').getContext('2d');
    const myWeaknessesChart = new Chart(weaknessesChart, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });

</script>
{% endblock %}